.menu-container {
  background: #000;
  color: white;
  padding: 10px;
  position: relative;
}

.menu-btn {
  background: none;
  color: white;
  font-size: 20px;
  border: none;
}

.menu-dropdown {
  position: absolute;
  top: 45px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.menu-dropdown a {
  padding: 8px;
  text-decoration: none;
  color: black;
}
