#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para que footer quede abajo */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Ajuste para banner */
.banner {
  height: 100vh; /* ocupa toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("https://images.unsplash.com/photo-1602526217037-aae8b2398c8e") center/cover no-repeat;
  color: white;
}

.banner-content h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px #000;
}

.banner-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #000;
}

.btn-banner {
  background: #ff6600;
  padding: 15px 30px;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-banner:hover {
  background: #e35600;
}

footer {
  margin-top: auto; /* Empuja el footer al final */
  padding: 15px;
  text-align: center;
  background: #222;
  color: white;
}
